---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: league-gothic;
  src: url("../static/fonts/leaguegothic-regular-webfont.woff");
}

// Our variables
$header-font-family: league-gothic;
$header-font-size: 16px;
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   12px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #222;
$background-image: url("../static/images/bg.png");
$brand-color:      #ea2485;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$the-pink: #ea2485;
$the-green:       #8bc63e;
$the-blue:        #2b99c1;
$the-yellow:      #ebdd14;
$the-beige:		  #f1e5c6;
$the-gray:		  #221e20;
$the-light-beige: lighten($the-beige, 25%);

$small:          768px;
$medium:         992px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media only screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
		"header",
		"sidebar",
		"default",
		"an",
		"grid",
		"pagination",
		"mobile",
		"share"
;
