<footer class="site-footer">

  <div class="wrapper">

    <ul id="footer">
		<li>
			<a href="http://18millionrising.org">Home</a>
		</li>
		<li>
			<a href="http://18millionrising.org/about">About</a>
		</li>
		<li>
			<a href="http://18millionrising.org/privacy">Privacy Policy</a>
		</li>
		<li>
			<a href="http://github.com/{{ site.github_username }}/{{ site.github_projectname }}/issues">Technical Support</a>
		</li>
		<li>
			<a href="mailto:{{ site.email }}">Contact</a>
		</li>
	</ul>
	
	<div class="copyleft">
		<div class="copy-logo">©</div>
		<span>18MR.org. <a href="http://18millionrising.org/about/copyright/">Some rights reserved</a>.</span>
	</div>
	
  </div>

</footer>
