<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <meta content="{{ site.title }}" property="og:site_name">
	{% if page.title %}
		<meta content="{{ page.title }}" property="og:title">
	{% else %}
		<meta content="{{ site.title }}" property="og:title">
	{% endif %}

	{% if page.title %}
		<meta content="article" property="og:type">
	{% else %}
		<meta content="website" property="og:type">
	{% endif %}

	{% if page.description %}
		<meta content="{{ page.description }}" property="og:description">
	{% else %}
		<meta content="{{ site.description }}" property="og:description">
	{% endif %}

	{% if page.url %}
		<meta content="{{ site.url }}{{ page.url }}" property="og:url">
	{% endif %}

	{% if page.date %}
		<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
		<meta content="{{ site.url }}/about/" property="article:author">
	{% endif %}

	{% if page.featured-image %}
		<meta content="http://action.18mr.org/{{ page.featured-image }}" property="og:image">
	{% else %}
		<meta content="/static/images/site-logo.png" property="og:image">
	{% endif %}

	{% if page.categories %}
		{% for category in page.categories limit:1 %}
			<meta content="{{ category }}" property="article:section">
		{% endfor %}
	{% endif %}

	{% if page.tags %}
		{% for tag in page.tags %}
			<meta content="{{ tag }}" property="article:tag">
		{% endfor %}
	{% endif %}
  
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-34494870-8', 'auto');
		ga('send', 'pageview');

	</script>
	
  <script src="{{ baseurl }}/static/js/jquery-1.11.1.min.js"></script>
  <script src="{{ baseurl }}/static/js/main.js"></script>
  {% if page.callcampaign == true %}
  <script>
    var trackEvent = function(ev) {
      window['optimizely'] = window['optimizely'] || [];
      window.optimizely.push(["trackEvent", ev]);

      ga('send', 'event', ev);
    };

    $(document).on('can_embed_loaded', function() {
	
  	  var fieldError = function(name, text) {
          var f = $('input[name="'+name+'"]');
          f.addClass('phone-error');

          var err = $('ul#phone-errors');
          err.append('<li>'+text+'</li>');
          return false;
      };

      var validatePhone = function(num) {
          num = num.replace(/\s/g, '').replace(/\(/g, '').replace(/\)/g, '');
          num = num.replace("+", "").replace(/\-/g, '');

          if (num.charAt(0) == "1")
              num = num.substr(1);

          if (num.length != 10)
              return false;

          return num;
      };

      can_embed_submitted = function(e) {
        // e.preventDefault();
		
		// clear validation errors
        $('form[name="act"] input').removeClass('phone-error');
        $('ul#phone-errors').empty();

        var phone = $('#phone').val();
        if (!validatePhone(phone)) {
			e.preventDefault();
            return fieldError('phone','Please enter a valid US phone number');
        }

        var data = {
            campaignId: '{{ page.call-slug }}',
            userPhone: validatePhone(phone),
			zipcode: '00000'
        };

        $.ajax({
            url: 'http://cca-call-congress.herokuapp.com/create',
            type: "get",
            dataType: "json",
            data: data,
            success: function(res) {
                trackEvent('call-congress');

                console.log('Placed call-congress call: ', res);
            }
        });
      };
      $('#new_signature').submit(can_embed_submitted);

      $('#new_signature').submit(function(e) {
        e.preventDefault();
        $('#').click();
      });

      $('#email_button').click(function(e) {

        if (!validateEmail($('#email').val()))
            return fieldError('email','Please enter a valid email address!');

        $('#email_form_fields').addClass('fade');
        $('.thanks').addClass('visible');
        setTimeout(function() {
            $('#email_form_fields').hide();
        }, 500);

        var form = $('#emailForm');
        $.post(form.attr('action'), form.serialize(), function(data){});

      });

    });
  </script>
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> 
  {% if page.inline-image == true %}
  <style>
	.main_action_image {
		display: none !important;
	}
  </style>
  {% endif %}
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" href="{{ baseurl }}/static/images/favicon.ico" />
  
</head>
