<header class="site-header">

	<div class="wrapper">

		<div id="logo">
			<div>
				<a href="{{ site:baseurl }}/index.html"><span></span></a>
			</div>
			<hgroup>
				<h1>{{ site.title }}</h1>
				<h2>{{ site.description }}</h2>
			</hgroup>
		</div>
		
<!--		<aside id="register-widget">
			<h3>Have You Registered to Vote?</h3>
			<span><a href="https://register2.rockthevote.com/?partner=16591&source=embed-rtv234x60v1" class="floatbox" data-fb-options="width:618 height:max scrolling:yes">
				<h3>Register Online Now!</h3>
			</a>
			<script type="text/javascript" src="https://register2.rockthevote.com/widget_loader.js"></script></span>
			<h4>see <a href="http://18millionrising.org/privacy/">privacy policy</a></h4>
		</aside> -->

	</div>
	
	<div class="wrapper">
	
		<nav id="top-links">
			<ul>
				{% for weight in (1..5) %}
					{% for p in site.pages %}
					{% if p.weight == weight %}
						<li class="{{ p.childcategory }}-parent">
							<a class="{% if p.url == page.url %}active{% endif %}"  href="{{ site:baseurl }}{{ p.url }}">
								{{ p.menutitle }}
							</a>
							<ul class="{{ p.childcategory }}-dropdown dropdown visuallyhidden">
								{% for tag in site.categories %}
									{% if p.childcategory == tag[0] %}
									{% assign pages_list = tag[1] %}
									{% for post in pages_list %}
									<li>
										<a href="{{ site:baseurl }}{{ post.url }}">
											{{ post.menutitle }}
										</a>
									</li>
									{% endfor %}
									{% endif %} <!-- category check if -->
								{% endfor %} <!-- posts loop -->
							</ul>
						</li>
					{% endif %} <!-- weight check if -->
					{% endfor %} <!-- site.pages loop -->
				{% endfor %} <!-- weight loop -->
			</ul>
		</nav>
		
	</div>

</header>
