<header class="site-header">

	<div class="wrapper">

		<div id="logo">
			<div>
				<a href="{{ site:baseurl }}/index.html"><span></span></a>
			</div>
			<hgroup>
				<h1>{{ site.description }}</h1>
			</hgroup>
		</div>
		
<!--		<aside id="register-widget">
			<h3>Have You Registered to Vote?</h3>
			<span><a href="https://register2.rockthevote.com/?partner=16591&source=embed-rtv234x60v1" class="floatbox" data-fb-options="width:618 height:max scrolling:yes">
				<h3>Register Online Now!</h3>
			</a>
			<script type="text/javascript" src="https://register2.rockthevote.com/widget_loader.js"></script></span>
			<h4>see <a href="http://18millionrising.org/privacy/">privacy policy</a></h4>
		</aside> -->

	</div>
	
	<div class="wrapper">
		
	</div>

</header>
