#can_embed_form.can_768.can_float {

	h4 {
		text-transform: uppercase;
		
		&.first_line {
			text-transform: none;
			color: $the-blue;
			font-size: 1.5em;
		}
		
		.graytext {
			text-transform: uppercase;
			color: $the-gray;
		}
	}

	.entry-title {
		text-transform: uppercase !important;
		font-size: 35px;
		line-height: 40px !important;
		border-bottom: none !important;
		padding-bottom: 0 !important;
		font-family: $header-font-family;
	}

	input[type="submit"] {
		background-color: $the-pink !important;
		font-family: 'league-gothic';
		font-size: 20px !important;
		font-weight: 400 !important;
		text-transform: uppercase;
	
		&:hover {
			background-color: darken($the-pink, 25%) !important;
		}
	}
	
	#d_sharing {
	
		ul {
			margin-left: 0;
			color: $the-gray !important;
		}
	}
	
	.main_action_image {
		width: 90%;
	}
	
	#can_sidebar {
		width: 35%;
		background-color: lighten($the-green, 15%);
		position: relative;
		@include radius(10px);
		float: right;
		padding: 15px 20px;
	}
	
	ul {
		margin-left: 0;
	}
}

.can_fundraising_widget {
	
	h2.line {
		display: none;
	}
	
	#donation_recipient_wrap {
		display: none;
	}
	
	#donation_welcome {
		clear: both;
		margin-top: 15px !important;
	}
	
	#donate_form_button {
		font-family: 'sans-serif' !important;
	}
}

h4.action_target {
	display: none;
}

#can_main_col {
	width: 60%;
	max-width: 655px;
	float: left;
	
	.last_line {
		width: 98%;
		
		h2 {
			text-transform: uppercase;
		}
	}
	
	h2 {
		margin-top: 50px;
	}	
	
	.event_full {
		width: 98%;
	}
}

#action_info {
	display: none;
}

#action_info_inner, .action_letter {
	display: none;
}

.action_status_goal {
	color: $the-gray !important;
}

.action_status_running_total {
	color: $the-pink !important;
}

ul#footer {
	margin: 0 auto;
	height: 40px;
	  
	li {
		display: inline-block;
		padding: 5px 30px 0 0;
		font-size: 17px;
		position: relative;
		
		a {
			color: $the-pink;
			font-size: 18px;
			text-decoration: none;
			font-family: 'league-gothic';
			text-transform: uppercase;
			display: block;
			height: auto;
		}

		a:hover {
			color: $the-gray;
			@include fade-transition(color 500ms);
		}
	}
}

.actionbutton {
	background-color: $the-pink;
	padding-top: 2px;
	margin-top: 10px;
	@include radius(10px);
	
	a {
		color: #ddd;
	}
	
	&:hover {
		background-color: darken($the-pink, 25%) !important;
		@include fade-transition(background-color 500ms);
	}
}