#can_embed_form {

	h4 {
		text-transform: uppercase;
	}

	.entry-title {
		text-transform: uppercase !important;
		font-size: 35px;
		line-height: 40px !important;
		border-bottom: none !important;
		padding-bottom: 0 !important;
	}

	input[type="submit"] {
		background-color: $the-pink !important;
		font-family: 'league-gothic';
		font-size: 20px !important;
		font-weight: 400 !important;
		text-transform: uppercase;
	
		&:hover {
			background-color: darken($the-pink, 25%) !important;
		}
	}
	
	#d_sharing {
	
		ul {
			margin-left: 0;
			color: $the-gray !important;
		}
	}
	
	.main_action_image {
		width: 90%;
	}
}

h4.action_target {
	display: none;
}

#can_main_col {
	width: 60%;
	max-width: 655px;
	
	h2 {
		margin-top: 50px;
	}
	
	img {
		margin-top: -135px;
	}
	
}

#can_sidebar {
	width: 35% !important;
	background-color: lighten($the-green, 15%) !important;
	position: relative;
	@include radius(10px);
}

#action_info {
	display: none;
}

#action_info_inner, .action_letter {
	display: none;
}

.action_status_goal {
	color: $the-gray !important;
}

.action_status_running_total {
	color: $the-pink !important;
}

ul#footer {
	margin: 0 auto;
	height: 40px;
	  
	li {
		display: inline-block;
		padding: 5px 30px 0 0;
		font-size: 17px;
		position: relative;
		
		a {
			color: $the-pink;
			font-size: 18px;
			text-decoration: none;
			font-family: 'league-gothic';
			text-transform: uppercase;
			display: block;
			height: auto;
		}

		a:hover {
			color: $the-gray;
			@include fade-transition(color 500ms);
		}
	}
}