ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: 2.5%;
	
	li {
		display: inline-block;
		padding: 10px;
		background: none;
		border: 1px solid #ddd;
		font-size: 16px;
		font-size: 1rem;
		vertical-align: top;
		text-align: center;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 30.84%;
		margin-right: 2.49%;
		margin-top: 10px;
		
		img {
			max-width: 100%;
			height: auto;
			margin: 0;
		}
		
		p {
			font-style: italic;
			text-align: center;
		}
		
		span {
			line-height: 22px;
		}
		
		h2 {
			margin-bottom: 10px;
			
			a {
				color: $the-blue;
			
				&:hover {
					color: darken($the-blue, 25%) !important;
					@include fade-transition(color 500ms);
				}
			}
		}
	}
}

@include media-query($small){
	ul.rig {
		margin-left: 0;
	
		li {
			width: 100%;
			margin: 0 0 20px;
		}
	}
}

@media only screen
	and (max-width: 992px)
	and (min-width: 769px) {
	
	ul.rig li {
		width: 47.5%;
	}
}