/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: 20px 0 10px 0;
	border-top: 1px $the-gray solid;
}

.copyleft {
	margin-bottom: 10px;
}

.copy-logo {
	display: inline-block;
	-webkit-transform: scale(-1, 1);
}

/**
  * Body
  */

home {
	width: 640px;
}

.post {
	width: 640px;
	float: left;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 28px;
}

/**
  * Homepage
  */

#index-welcome {

	h1 {
		font-size: 48px;
	}
}


/**
 * Page content
 */
.page {
	margin-top: $spacing-unit * 1.5;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
	height: 60px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($medium) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 28px;

        @include media-query($medium) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 24px;

        @include media-query($medium) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($medium) {
            font-size: 18px;
        }
    }
}

.featurebox {
	@include radius(10px);
	padding: 1em;
	background: $the-light-beige;
	margin-bottom: 1.2em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	
	ul {
		font-size: 14px;
		line-height: 2.14em;
	}
}